@media screen and (min-width: 768px) {
    .header-content {
        flex-direction: row;
    }

    header h1, header p {
        text-align: center;
    }

    .main-content {
        flex-wrap: nowrap;
    }
}
