/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfcf8;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: rgb(44, 34, 34);
    position: relative;
  }
  
  header .logo {
    height: 50px;
  }
  
  header .navigation {
    display: none;
  }
  
  header .navigation a {
    color: rgb(9, 7, 7);
    text-decoration: none;
    margin-left: 15px;
  }
  
  .hamburger-menu {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background: rgb(0, 0, 0);
    margin: 5px 0;
    transition: 0.4s;
  }
  
  /* Image Slider */
  .slider {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slides img {
    width: 100%;
    height: auto;
  }
  
  /* Show navigation and hide hamburger menu on large screens */
  @media (min-width: 768px) {
    header .navigation {
        display: block;
    }
    .hamburger-menu {
        display: none;
    }
  }

.sidebar {
    flex: 1;
}

.content-block, .sidebar-block {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #CB4154;
}

.values-images {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.value-item {
    flex: 1;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
    display: inline-block;
    background-color: #CB4154;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 5px 0;
}

.value-item {
    margin-bottom: 20px;
}

.value-item img {
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .values-images {
        display: flex;
        justify-content: space-between;
    }
}
/* Hide the menu by default */
.nav-menu {
    display: none;
}


/* Show the menu when active */
.nav-menu.active {
    display: block;
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
    .nav-menu {
        display: block;
    }
}
